<h2 id="Titulo">Gestionar usuarios</h2>
    <div class="Container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Activo</th>
                <th scope="col">Admin</th>
                <th scope="col">Ultima Conexión</th>
                <th scope="col"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for Usuario in Usuarios %}
                <form method="post">
                    {% csrf_token %}
                    <tr>
                        <th scope="row">{{ Usuario.id }}</th>
                        <td>{{ Usuario.username }}</td>
                        <td>{{ Usuario.email }}</td>
                        {% if Usuario.activo %}
                            <td><input type="checkbox" checked name="activo"/></td>
                        {% else %}
                            <td><input type="checkbox" name="activo"/></td>
                        {% endif %}
                        {% if Usuario.admin %}
                            <td><input type="checkbox" checked name="admin"/></td>
                        {% else %}
                            <td><input type="checkbox" name="admin"/></td>
                        {% endif %}
                        <td>{{ Usuario.last_login }}</td>
                        <input type="hidden" value="{{ Usuario.id }}" name="Userid">
                        <input type="hidden" value="Falasdsse" name="Elimnar_user" id="Elimnar_user">
                        <td><button id="btnModif" type="submit"><i class="fa-solid fa-pen"></i></button></td>
                        <td><a href="/EliminarUsuario/{{ Usuario.id }}" onclick="return confirm('¿Estas seguro de eliminar el usuario?')">Eliminar</a></td>
                        
                    </tr>
                </form>
            {% endfor %}
            </tbody>
          </table>
          <h1>Producto Maximo vendido</h1>
          {{MaxVentas.Modelo}}
          <h1>Productos al stock limite</h1>
          {% for a in limitStock %}
                {{a.Stock}}
          {% endfor %}
          <h1>Ventas realizadas hoy</h1>
          {% for nashe in VentasToday %}
            id: {{nashe.id}}
            Producto: {{nashe.Producto.Modelo}}
            Cantidad: {{nashe.Cantidad}}
            Fecha: {{nashe.Fecha}}
          {% endfor %}
    </div>
