{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'productos.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    {% block content %}
    <div class="header-img"></div>
    <div class="title-text">
        <h1>Conoce nuestros dispositivos moviles</h1>
    </div>
    <div class="main-productos">
        <div class="card-container">
            {% for producto in productos %}
            {% if producto.Marca == 'Apple'%}
            <div class="card-producto">
                <div class="card-header">
                    <img src="../static/asdasd.png">
                    <img src="../static/{{producto.filename}}">
                </div>
                <div class="card-body">
                    <div class="capsula">
                        <span>Especial Navidad</span>
                    </div>
                    <p class="info-marca">{{producto.Marca}}</p>
                    <p class="info-equipo">{{producto.Modelo}}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>