{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'productos.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    {% block content %}
    <div class="header-img"></div>
    <div class="title-text">
        <h1>Conoce nuestros dispositivos moviles</h1>
    </div>
    <div class="main-productos">
        <div class="card-container">
            {% for producto in productos %}
            <div class="card-producto">
                <div class="card-header">
                    <img src="../static/imgProductos/{{producto.filename}}">
                </div>
                <div class="card-body">
                    <div class="capsula">
                        <span>Especial Navidad</span>
                    </div>
                    <p class="info-marca">{{producto.Marca}}</p>
                    <p class="info-equipo">{{producto.Modelo}}</p>
                    <div class="equipo-precios">
                        <p class="sub-precio">En 24 cuotas sin interes</p>
                        <p class="info-precio">${{producto.Valor}}</p>
                        <p class="stock">Stock: {{producto.Stock}}</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden", value="{{producto.id}}" name="producto">
                        <button class="btnComprar" type="submit">Comprar ahora</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>