@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-img{
    background-image: url('./img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    z-index: 1;
}

.header-info{
    background-color: #F7F7F7;
    width: 100%;
    height: 50px;
    box-shadow: 0px 15px 10px -15px #111;  
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #494C66;
}

.header-info a{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.fa-cart-shopping{
    margin-right: 10px;
}

.portate{
    background-color: #EFF1F3;
    width: 920px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.portate-box{
    font-family: 'Fira Sans', sans-serif;
    border-right: 2px solid #fff;
    padding-right: 7px;
    padding-left: 7px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ultimo{
    border: none;
}

.portate-box a{
    text-align: center;
}

.icons-box{
    margin-right: 5px;
}

.box-movistar{
    max-width: 1200px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    align-items: center;
    padding-left: 15px;
}

.card-productos{
    width: 253px;
    height: 332px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0.3px gray;
}

.card-productos img{
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-productos a{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 5px;
}

.box-ofertas{
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.box-1{
    width: 100px;
    height: 25px;
    background-color: #E63780;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box-1 a{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
}

.box-2{
    width: 100px;
    height: 25px;
    background-color: #BDE4A4;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.box-2 a{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    color: #3c7521;
}

#plan5g{
    width: 100px!important;
    height: 100px!important;
}

.box-price{
    height: auto;
    width: 230px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#price-desc{
    font-size: 13px;
    width: auto;
    text-align: left;
    margin-left: 4px;
}

#price{
    font-weight: bold;
    font-size: 28px;
}

#card-desc{
    text-align: center;
    font-size: 13px;
    color: #999;
    display: block;
    margin-bottom: 20px;
}

.btnOferta{
    background-color: #019df4;
    color: #fff;
    padding: 13px 20px;
    border-radius: 100px;
    border: none;
    font-size: 14px;
    max-width: 160px;
    width: 100%;
    cursor: pointer;
}

.plan{
    width: auto!important;
    padding-left: 2px;
    padding-right: 2px;
}

.card-productos-largo{
    width: 322px;
    height: 332px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0.3px gray;
}

.card-productos-largo h3{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    color: #222;
    padding: 15px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.productos-body{
    padding: 0 10px;
    position: relative;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.productos-body img{
    font-size: 6px;
    color: #b6b7b7;
    max-width: 30px;
    height: auto;
    width: 100%;
}

.productos-body a{
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
}

.productos-body p{
    position: relative;
    width: calc(100% - 35px);
    padding: 3px 15px 3px 10px;
    font-size: 13px;
    color: #313235;
}

span{
    vertical-align: unset;
}

.productos-body span{
    font-size: 14px;
    color: #019df4;
    width: 100%;
    display: block;
    margin: 3px 0;
}

#ofertas{
    color: #019df4;
    font-size: 14px;
}

.renueva-box{
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-left: 35px;
}

.title-renueva h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 23px;
}

.renueva-card{
    margin-top: 25px;
    max-width: 1130px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card-celular:hover{
    box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
    transition: all .3s ease-in-out;
    margin-top: -6px;
}

.card-celular:hover .imagen-celular{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.imagen-celular{
    transition: all .3s ease-in-out;
}

.card-celular{
    cursor: pointer;
    width: 255px;
    height: 389px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.card-celular img{
    width: 98px;
    height: 190px;
    display: flex;
    align-self: center;
    
}

.texto-renueva{
    height: 136px;
    background-color: #f2f2f2;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.marca-modelo{
    display: flex;
    align-items: left;
    flex-direction: column;
}

.marca-modelo p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 0;
    color: #191919;
    text-align: left!important;
}

#modelo{
    font-size: 16px;
    height: 16px;
    font-weight: 700;
    line-height: 1;
}

.box-cuotas{
    height: auto;
}

.box-cuotas p{
    color: #636467;
    font-size: 12px;
    line-height: .9;
    margin-bottom: 0;
    font-weight: 400;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.precio-equipos{
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
    color: #ff3d00;
    font-weight: 600;
    line-height: 1.2;
}

.precio-oferta{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #636467;
}

.tarjeta-descuentos{
    width: 78px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    right: 3%;
    bottom: 28%;
    background-color: #42e8b4;
    border-radius: 4px;
    color: #191919;
    position: absolute;
}

.tarjeta-descuentos p{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}